:host {
    padding: 5px;
    float: right;
    font-style: italic;
    .questionMark {
        display: inline-block;
        border-radius: 5px;
        height: 10px;
        width: 10px;
        background-color: silver;
        .mark_ok {
            background-color: green;
        }
        .mark_wrong {
            background-color: red;
        }
    }
}