:host {
    padding: 5px;
    float: right;
    font-style: italic;
    padding-top: 24px;
    .questionMark {
        vertical-align: middle;
        position: relative;
        display: inline-block;
        border-radius: 15px;
        height: 30px;
        width: 30px;
        background-color: silver;
        &.ok {
            background-color: #31e231;
        }
        &.wrong {
            background-color: red;
        }
        &.active {
            background-color: #26b2e4;
            .fa-crosshairs {
                display: block;
                position: absolute;
                top: 1px;
                left: 3px;
            }
        }
        .fa-crosshairs {
            display: none;
        }
    }
    .result-text {
        vertical-align: middle;
        padding-right: 10px;
    }
}