:host {
    .question {
        &-text {
            padding-top: 30px;
        }
        &-icon {
            display: inline-block;
            padding-right: 20px;
        }
        &-submitWrapper {
            text-align: center;
            margin-top: 30px;
        }
        &-submit {
            display: inline-block;
        }
    }
    .variants {
        padding-top: 30px;
    }
    .variant {
        margin: 10px;
        &-icon {
            display: inline-block;
        }
    }
}